.mood__item {

  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.buttonall {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.226);
  margin-top: 2rem;
}

.buttonall:hover {
  background-color: rgba(236, 74, 74, 0.452);
  cursor: pointer;
}

.item__wrapper {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.item__title {
  font-size: 1.6rem;
  color: white;
  font-family: "Montserrat";
  margin-left: 1rem;
}

.item__number {
  color: white;
  font-family: "Montserrat";
  font-size: 2rem;
  margin-right: 1rem;
}
