.comment {
  background-color: rgba(255, 255, 255, 0.226);
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.nm__wrapper {
  margin-left: 2rem;
}

.comment__wrapper {
  display: flex;
  align-items: center;
}

.comment__name {
  font-size: 1.6rem;
  margin-left: 1rem;
  color: white;
  font-family: "Montserrat";
}

.comment__text {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
  font-family: "Montserrat";
}

.like__number {
  font-size: 1.5rem;
  color: white;
  font-family: "Montserrat";
  position: relative;
  bottom: 4rem;
  left: 2rem;
}

.comment__button:hover{
  cursor:pointer;
  position:relative;
}
