@media only screen and (min-width: 1200px) {

  body {
    height: 100%;
    bottom: 0;
    top: 0;
    overflow: hidden;
  }

  main {
    display: grid;
    grid-template-columns: 76% 24%;
    grid-template-rows: 15% 85%;
  }

  .post__by {
    grid-row: 1;
    grid-column: 2;
  }

  .landscape {
    grid-row: span 2;
    grid-column: 1;
    height: 91vh;
  }

  .commentmood {
    overflow-y: auto;
    height:50%;
    
  }

}
