.Add{
    width:100vw;
}
.title__wrapper{
    display:flex;
    justify-content:center;
    background-image: url("/assets/png/background2.png");
    font-weight: 600;
}
.title{
    font-size: 2.4rem;
    padding:1.2rem;
    color:white;
    font-family:"Montserrat"; 
}

@media only screen and (min-width: 1200px) {
.Add{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 30% 60%;

    
}
.title__wrapper{
   display:none;
}
}

