.add__Landscape{
    width:100%;
    background-image: url("/assets/webp/landscape_example7.webp");
    background-size:cover;
}

.arrow__wrapper{
    display:flex;
    height:18rem;
    justify-content:space-between;
    align-items:center;
}

.Landscape__title{
    font-size:2.2rem;
    font-weight: 800;
    font-family: "Montserrat";
    color: white;
    -webkit-text-stroke: 1.5px black;
    padding-top:2rem;
    padding-left:1rem;
}

@media only screen and (min-width: 800px) {
    .add__Landscape{
       grid-column:1;
       grid-row:1;
       height:100vh;
    }

.Landscape__title{
    text-align:center;
    font-size:3rem;
}

    }
    