@import 'css/normalize.css';
@import 'css/header.css';
@import 'css/namecard.css';
@import 'css/landscape.css';
@import 'css/comment.css';
@import 'css/undersection.css';
@import 'css/mood.css';
@import 'css/inputcomment.css';
@import 'css/layoutdesktop.css';
@import 'css/overview.css';
@import 'css/overviewItem.css';


@font-face {
  font-family: 'Montserrat';
  src:url("/public/fonts/Montserrat-Bold.woff2") format('woff2')
      ,url("/public/fonts/Montserrat-Bold.woff") format('woff');
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
  height:100%;
  overflow: hidden;
}

/* stylelint-disable */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: Helvetica, Arial, sans-serif;
}

button {
  all: unset;
  cursor:pointer;
}
